@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

$box-marginbottom: 20px;

.projectCard {
    margin-bottom: 15px;
    padding-top: 15px;
    .centered {
        img {
            width: 72px;
            height: 72px;
            float: left;
            margin-left: 15px;
        }
    }
    .vb {
        padding-top: 2px;
        padding-left: 110px;
        color: #252424;

        font-size: 12px;
        line-height: 16px;

        .project {
            height: 20px;
            width: 113px;
            
            font-size: 18px;
            font-weight: bold;
            line-height: 20px;
        }

        .client {
            color: rgba(37,36,36,0.65);
        }

        .update {
            padding: 5px 15px;
            text-decoration: none;
            margin-top: 6px;
            display: inline-block;
            color: white;
            border: 1px solid rgba(37,36,36,0.15);
            border-radius: 2px;
            background-color: #6264A7;
            box-shadow: 0 2px 4px -0.75px rgba(0,0,0,0.1);
            font-size: 14px;
        }
    }
}