@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.applicationCard {  
  font-family: "Segoe UI", "Helvetica Neue", "Apple Color Emoji", "Segoe UI Emoji", Helvetica, Arial, sans-serif;
  font-size: 0.8em;
  background-color: white;
  padding-top: 10px;

  .container {
    @include ms-Grid;
  }

  .row {
    @include ms-Grid-row;
    @include ms-fontColor-white;
  }

  .columnLeft {
    @include ms-Grid-col;
    @include ms-lg3;
    @include ms-xl3;
    @include ms-sm3;
    @include ms-md3;
    
  }

  .columnRight {
    @include ms-Grid-col;
    @include ms-lg9;
    @include ms-xl9;
    @include ms-sm9;
    @include ms-md9;
  }

  .column3 {
    @include ms-Grid-col;
    @include ms-lg4;
    @include ms-xl4;
    @include ms-sm6;
    @include ms-md4;
  }
  
}